.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.profileimage {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  box-shadow: 0 4px 20px rgba(212, 83, 241, 0.4);
  padding: 2px;
}
.profile-container p:hover{
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor:default;
}
.profile-container p{
    margin-left: -5px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  cursor: pointer;
}

.nav-button {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

.nav-connect:hover {
  transform: scale(1.05);
}
.anchor-link {
  text-decoration: none;
  color: white;
}
.nav-mob-close {
  display: none;
}
.nav-mob-open {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-button {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  .navbar {
    margin: 20px 80px;
  }
  .nav-menu {
    gap: 40px;
    font-size: 18px;
  }
  .nav-button {
    padding: 16px 30px;
    font-size: 20px;
  }
}

